.checkout {
  display: flex;
}
.cart {
  display: flex;
  flex-direction: column;
  margin: 15rem 8rem;
  width: 70%;
  height: 80%;
  &__headings {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px black solid;
  }
}
.summary {
  display: flex;
  flex-direction: column;
  margin: 15rem 8rem;
  padding: 2rem;
  width: 30%;
  height: 80%;
  background-color: rgb(98, 98, 97);
  &__heading {
    display: flex;
    padding-bottom: 2rem;
    border-bottom: 1px black solid;
    
  }
}
